html {
    height: 100%;
    overflow: hidden;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif, Tahoma, Verdana, sans-serif;
    font-size: 12px;
    background: white;
    color: white;
}

#editor {
    top: 0;
    left: 0;
    background: white;
    width:100%;
    height:100%;
}
/***/
#contextMenuBack {
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.01);
	position:absolute;
	width:100%;
	height:100%;
	display:none;
	z-index: 10000;
	pointer-events:none;
	-moz-user-focus:ignore;
}
menuitem:hover{
	background:yellow;
	color:black;
}
menuitem:active{
	background:lightblue;
}
menuitem{
	padding: 3px 15px;
	display:block;
	-moz-user-focus:ignore;
	cursor:default!important
}
menuitem[disabled="true"]{
	color:graytext;
}
separator{
	display:block;
	border-bottom:1px solid gray;
}
#contextMenu{
	pointer-events:auto;
	-moz-user-select:none;
	-moz-user-focus:ignore;
	background: white;
	box-shadow: 1px 1px 2px black;
	position:absolute;
	color:black;
	cursor: default !important;
}
.ace_gutter-cell.ace_error {
    background-image: url("icons/error_obj.gif");
    background-repeat: no-repeat;
    background-position: 4px center;
}

.ace_gutter-cell.ace_warning {
    background-image: url("icons/warning_obj.gif");
    background-repeat: no-repeat;
    background-position: 4px center;
}

#reqUI {
    position: absolute;
    width: 28px;
    height: 28px;
	margin: -14px 0 0 -14px;
    border: 1px solid red;
    z-index: 10000;
    display: none;
	top:50%;
	left:50%;
	border-radius: 2px;
	border: 1px solid transparent;
}
#reqUI:hover {
	border-color: highlight;
}

#toggleGutter {
    height: 8px;
    width: 10px;
    background: lightblue;
    bottom: 0;
    position: fixed;
    z-index: 1000;
    border-top-right-radius: 20px;
}

#toggleGutter:hover{
    -moz-box-shadow: 2px -1px 5px 3px #91B6D5;
    border-right: 1px solid #A1A1CF;
    border-top: 1px solid #A1A1CF;
}

#toggleWrap {
    height: 8px;
    width: 10px;
    background: lightblue;
    top: 0;
    position: fixed;
    z-index: 1000;
    border-bottom-right-radius: 20px;
}

#toggleWrap:hover{
    box-shadow: 2px -1px 5px 3px #91B6D5;
    border-right: 1px solid #A1A1CF;
    border-bottom: 1px solid #A1A1CF;
}
/********************************* breakpoints *****************************************/
/*.sourceRow.hovered {
    background-color: #EEEEEE;
}

.ace_gutter-cell.ace_breakpoint{
	background: url("chrome://firebug/skin/breakpoint.png") no-repeat;
}


.ace_gutter-cell[exe_line="true"] {
    outline: 1px solid #D9D9B6;
    margin-right: 1px;
    background-color: lightgoldenrodyellow;
}

.ace_gutter-cell[executable="true"] > .sourceLine {
    content: "-";
    color: #4AA02C;  
    font-weight: bold;
}

.ace_gutter-cell[exe_line="true"] > .sourceLine {
    background-image: url(chrome://firebug/skin/exe.png);
    color: #000000;
}

.ace_gutter-cell[breakpoint="true"] > .sourceLine {
    background-image: url(chrome://firebug/skin/breakpoint.png);
}

.ace_gutter-cell[breakpoint="true"][condition="true"] > .sourceLine {
    background-image: url(chrome://firebug/skin/breakpointCondition.png);
}

.ace_gutter-cell[breakpoint="true"][disabledBreakpoint="true"] > .sourceLine {
    background-image: url(chrome://firebug/skin/breakpointDisabled.png);
}

.ace_gutter-cell[breakpoint="true"][exe_line="true"] > .sourceLine {
    background-image: url(chrome://firebug/skin/breakpointExe.png);
}

.ace_gutter-cell[breakpoint="true"][exe_line="true"][disabledBreakpoint="true"] > .sourceLine {
    background-image: url(chrome://firebug/skin/breakpointDisabledExe.png);
}
*/
/************************* console mode ****************************/
.ace_cellHead{
	background:rgba(120,50,100,0.1);
	color: darkred;
}

.ace_firstcell{
	border-top: 1px solid gray;
}

.ace_cellHead{
	background:rgba(120,50,100,0.1);
	color: darkred;
}
.ace_filler{
    /*background: none repeat scroll 0 0 rgba(100, 50, 100, 0.2);*/
    display: inline-block;
	border-top: 1px solid gray;
    width: 100%;
}

/* .ace_gutter-cell.ace_breakpoint{
    background: -moz-radial-gradient(8px 50% 45deg, circle closest-corner, rgb(148,10,10) 0%, rgb(148,10,10) 50%, transparent 60%) no-repeat!important;
    background: -webkit-radial-gradient(8px 50% 45deg, circle closest-corner, rgb(148,10,0) 0%, rgb(148,10,10) 50%, transparent 60%) no-repeat!important;
    background: -o-radial-gradient(8px 50% 45deg, circle closest-corner, rgb(148,10,10) 0%, rgb(148,10,10) 50%, transparent 60%) no-repeat!important;
} */

.ace_gutter-cell:hover{
    background: #BACADF
}
.ace_gutter-cell.ace_breakpoint{
    border-radius: 20px 0 0 20px;
    box-shadow: 0 0 1px 1px red inset;
}
.ace_gutter-cell.ace_breakpoint.invalid{
    box-shadow: 0 0 1px 1px red inset;
}
.ace_gutter-cell.ace_breakpoint.valid{
    box-shadow: 0 0 1px 1px lime inset;
}


/************************* buttons ****************************/

.mode_button_active, .buttonify:active{
    background: -moz-linear-gradient(center top , #E3E3E3, #F9F9F9) repeat scroll 0 0 transparent;
    border-color: #AAAAAA;
}

.capsule_left {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.capsule_right {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.buttonify {
    padding: 2px 3px;
}

.buttonify {
    color: #000000 !important;
}

.buttonify {
    background: -moz-linear-gradient(center top , #FFFFFF, #DDDDDD) repeat scroll 0 0 transparent;
    border-color: #CCCCCC #AAAAAA #888888;
    border-left: 1px solid #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    border-right: 1px solid #AAAAAA;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    padding: 1px 3px;
    text-decoration: none;
    vertical-align: baseline;
}

.buttonify:hover {
    border-color: #666666;
    text-decoration: none !important;
}
